
@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
a{
	text-decoration: none;
}

ul{
    list-style: none;
}
/* 화면 전체 렙 */
.wrapper{
	width: 100%;
}
/* content 랩 */
.wrap{
	width : 1080px;
	margin: auto;
}
/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap{
    width: 80%;
    float:left;
    height: 100%;
    min-height: 700px;
}
.admin_content_wrap div{
    margin-top: 0px;
    text-align: center;
    font-weight: bolder;
}
.admin_navi_wrap li a {
    display: block;
    height: 100%;
    /* width: 95%; */
    margin: 0 auto;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}

/* 관리자 컨텐츠 메인 영역 */
.form_section{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	background-color: #D3D3D3;
	width: 80%;
    margin-left: 2%;
    border: 1px solid #dbdde2;
    overflow:auto;
}
.form_section_title{
	padding: 20px 35px;	
}
.form_section_title label{
	display: block;
    font-size: 20px;
    font-weight: 800;
}
.form_section_content{
	padding: 20px 35px;
    border-top: 1px solid #dbdde2;	
    width: inherit;
}
.form_section_content input{
	width: 630px;
    height: 30px;
    font-size: 20px;
    padding: 5px 1%;
    
}

.form_section_content select{
	width: 98%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
}

.form_section_content select {		/* 카테고리 css 설정 */
    width: 300px;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
    margin-left: 5px;
}
.cate_wrap span {
    font-weight: 600;
}
.cate_wrap:not(:first-child) {
    margin-top: 20px;
}
/* 이미지 영역 */
#result_card img{
	max-width: 50%;
	height: auto;
	display: block;
	padding: 5px;
	margin-top: 10px;
	margin: auto;	

}
#result_card {
	position: relative;
	display:table-cell;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
/* 버튼 영역 */
.btn1_section{
	text-align: center;
	margin: 30px 20px;
	width: inherit;
}
.btn1{
    min-width: 180px;
    padding: 4px 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    background-color: #3cc4c0;
}

.form_section_content select {		/* 카테고리 css 설정 */
    width: 92%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
    margin-left: 5px;
}
.cate_wrap span {
    font-weight: 600;
}
.cate_wrap:not(:first-child) {
    margin-top: 20px;
}
/* 입력란 공란 경고 태그 */
.ck_warn{						
	display: none;
    padding-top: 10px;
    text-align: center;
    color: #e05757;
    font-weight: 300;    
}

/* 입력란 공란 경고 태그 */
.ck_warn{						
	display: none;
    padding-top: 10px;
    text-align: center;
    color: #e05757;
    font-weight: 300;    
}
/* ckeditor 높이 */
.ck-content {						
    height: 170px;
}
/* float 속성 해제 */
.clearfix{
	clear: both;
}